<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- <queries>
        <package android:name="com.tencent.mobileqq" />

        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:scheme="http" />
        </intent>
    </queries> -->

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false"
        tools:targetApi="eclair" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" /> -->
    <!-- <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" /> -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-feature android:name="android.hardware.fingerprint" android:required="false" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" tools:node="remove"/>
    <application
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:extractNativeLibs="true"
        android:usesCleartextTraffic="true">
        
        <activity
            android:name=".NfcTestActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:windowSoftInputMode="adjustResize">

            <!--
                 Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI.
            -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- crypto.dropromo.com 的 NDEF_DISCOVERED：仅保留 crypto host，
                 让 app 内置的 ChipCore SDK 在前台时可拦截并处理该卡片。
                 asset.dropromo.com 的 NFC 不由 app 处理，直接走浏览器。 -->
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="https" android:host="crypto.dropromo.com"/>
            </intent-filter>
            <!-- NFC TECH_DISCOVERED：告知 MIUI/系统该 Activity 处理 NFC，
                 防止小米等厂商在扫卡时于顶部显示系统 NFC 弹窗。
                 enableReaderMode 仍负责实际 tag 处理，此 filter 仅用于抑制 OEM 弹窗。 -->
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter"/>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="wc" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="wcwallet" />
            </intent-filter>

            <!-- st944a9eb04e40fdbc://jump 由 ShareTrace/浏览器网页调用，拉起 app -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="st944a9eb04e40fdbc"
                    android:host="jump"/>
            </intent-filter>
            <!-- asset.dropromo.com App Links：NFC 卡片（c.dropromo.com）被浏览器打开后，
                 服务端重定向到此 URL，由 App Links 拉起 app 并跳转指定页面。
                 NFC 卡片本身的 URL（c.dropromo.com）不在任何 filter 中，不会触发 app。 -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="asset.dropromo.com"
                    android:pathPrefix="/" />
            </intent-filter>
        </activity>
        <!--
 Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java
        -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        <meta-data 
            android:name="com.sharetrace.APP_KEY"
            android:value="31d0abe71436b78c"/>
        <meta-data 
            android:name="com.appsflyer.sdk.AppsFlyerDevKey"
            android:value="ZcMYB85SwuRy3Z2odpxit6"/>
    </application>

</manifest>